.myArticles {
  background-color: var(--color-faded);
  color: var(--color-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin-bottom: 2rem;
}

.myArticles__logo {
  width: 15rem;
  margin-top: 2rem;
}

.myArticles__title {
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
}

.myArticles__button {
  text-decoration: none;
  padding: 0.5rem 3rem;
  background-color: var(--color-green);
  color: var(--color-white);
  margin: 0.5rem 0;
  border-radius: 5px;
  font-size: 1.2rem;
  font-family: inherit;
  text-transform: capitalize;
}

.myArticles__text {
  font-size: 1rem;
  margin: 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  .myArticles {
    width: 80%;
    margin: 0 auto;
  }
}
