.myArticles {
  background-color: var(--color-faded);
  color: var(--color-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin-bottom: 2rem;
}

.myArticles__logo {
  width: 15rem;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .myArticles {
    width: 80%;
    margin: 0 auto;
  }
}
